/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-Mar-2017, 23:18:31
    Author     : AnthonyQuinn
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-Mar-2017, 23:16:47
    Author     : AnthonyQuinn
*/

#title {
    border: 1px solid black;
    background-color: lightblue;
    width: 270px;
    height: 150px;
    overflow: auto;
}

#title:hover {
    background-color: coral;
    width: 5200px;
    height: 300px;
    padding: 100px;
    border-radius: 50px;
}